.navbar{
    padding: 1rem;
    background-color: #f8c8e4;
}
.navbar-collapse{
   align-items: center;
  justify-content: space-between;

}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.menu{

    height: 130vh;
    background-image: linear-gradient(to top, rgba(205, 156, 242, 0.518) 0%, rgba(23, 26, 216, 0.593) 150%),url(img/IMAGEN=FONDO.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #f8c8e4;
    min-height: 450px;
    text-align: center;
}

h1{
    font-size: 5rem;
    color: #353333;
}
h5{
    color: #fff;
}

.log-icon{

    height: 7rem;
}
.usu-icon{
    height: 1rem;
}

@media screen and(max-width: 767px){
    .navbar-brand{
        display: none;
    }
}

.productos img{
    width: 200px;
    margin-top: 7px;
}

.productos h3{
    font-size: 1.0em;
    margin-top: 7px;
    margin-bottom: 1px;
}

.productos p{
    font-size: 0.8em;
}

.imagen{
    width: 350px;
    height: 250px;
    margin-top: 6px;
}

