body{
    background-color: rgb(151, 193, 218);;
    background-size: cover;
}


h1{
    display:flex;
    justify-content:center;
    background-color: rgb(141, 70, 207);
}

#Cajas{
    width: 340px;
    height: 300px;
}

#colgantes{
  width: 340px;
  height: 300px;
}

#separadores{
  width: 340px;
  height: 300px;
}

#separadores-autoadhesivos{
  width: 340px;
  height: 300px;
}

#stickers{
  width: 340px;
  height: 300px;
}

.fondo-carta{
    background-color:rgb(224, 128, 144);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 8px;
}
.margen{
    margin-bottom: 0rem;
     
}
table.bs-table-bg{
    background-color:grey !important;
}
.cuadrado{
    width: 125px;
    height:15px;
    background: rgb(224, 128, 144);
    border:solid 3px rgb(224, 128, 144);
}

nav{
  background-color: #ff86c4;
  align-items: center;
}

header {
  background: #ff86c4;
  width: 100%;
  clear: both;
  content:'';
  display: table;
}

.menu {
  width: 900px;
  margin: 0 auto;
}

img {
  width: 120px;
  height: 50px;
  float: left;
  padding: 8px;

}

nav {
  float: right;
}

nav ul li {
  list-style: none;
  margin-left: 75px;
  padding: 12px 0;
  float: left;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

nav ul li a::before {
  display: block;
  content: '';
  width: 0%;
  background: #444;
  height: 5px;
  top:0;
  position: absolute;
  transition: width 0.2s;
}

nav ul li a:hover::before {
  width: 100%;
}